certifi==2024.7.4
langchain==0.2.16
pysqlite3-binary 
langchain_chroma == 0.1.2
langchain_community==0.2.16
langchain_experimental==0.0.65
langchain_text_splitters==0.2.4
pymongo==4.8.0
python_dateutil==2.9.0.post0
streamlit==1.36.0
protobuf==3.20.0
